<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_AlekatPortfolio>
            <version>0.1.3</version>
        </Komplizierte_AlekatPortfolio>
    </modules>
    <global>
        <models>
            <alekatportfolio>
                <class>Komplizierte_AlekatPortfolio_Model</class>
                <resourceModel>alekatportfolio_mysql4</resourceModel>
            </alekatportfolio>
            <alekatportfolio_mysql4>
                <class>Komplizierte_AlekatPortfolio_Model_Mysql4</class>
                <entities>
                    <data>
                        <table>alekatportfolio_data</table>
                    </data>
                    <images>
                        <table>alekatportfolio_images</table>
                    </images>
                </entities>
            </alekatportfolio_mysql4>

        </models>
        <blocks>
            <komplizierte_alekatportfolio>
                <class>Komplizierte_AlekatPortfolio_Block</class>
            </komplizierte_alekatportfolio>
        </blocks>
        <helpers>
            <komplizierte_alekatportfolio>
                <class>Komplizierte_AlekatPortfolio_Helper</class>
            </komplizierte_alekatportfolio>
        </helpers>
        <resources>
            <komplizierte_alekatportfolio_setup>
                <setup>
                    <module>Komplizierte_AlekatPortfolio</module>
                </setup>
            </komplizierte_alekatportfolio_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <portfolio before="Mage_Adminhtml">Komplizierte_AlekatPortfolio_Adminhtml</portfolio>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <alekatportfolio>
                    <file>alekatportfolio.xml</file>
                </alekatportfolio>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <komplizierte_alekatportfolio>
                    <file>alekatportfolio.xml</file>
                </komplizierte_alekatportfolio>
            </updates>
        </layout>
    </frontend>
</config>